@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Trispace&display=swap');
/* greart-show */
main{
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    max-width: 1000px;
    margin: 0 auto;
}
/* .boss{
    display: flex;
    justify-content: center; */
    

.container{
    display: flex;
 
    border: 2px solid black;
    justify-content: center;
    background-color:black;
    border-radius: 15px;
    padding-left: 106px;
    padding-right: 68px;
    margin-bottom: 40px;
    
   
}
.great-show{
 width: 40%;
    padding-bottom: 20px;
    
}
.player img{
    width: 100%;
    padding-top: 50px;
    padding-left: 40px;
    
}
.great-show h1 {
    font-size:40px ;
    color: aliceblue;

} 
.great-show p{
    font-weight: 400;
font-size: 16px;
color: bisque;
}
.great-show button{
    background-color: brown;
}

/* second section  */

.container2{
    height: 50%;
    height: 60%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#web{
    border: 2px solid black;
    background-color: white;
    width: 174px;
    margin: 15px;
    padding-left: 10px;
    text-decoration: none;
    color: black;

}
#group{
    border: 2px solid black;
    background-color: white;
    width: 174px;
    margin: 15px;
    padding-left: 10px;
    text-decoration: none;
    color: black;

}

#blog{
    border: 2px solid black;
    background-color: red;
    width: 174px;
    margin: 15px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
/* another part  */


.boss2{
    display: flex;
    
}
.strong{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-left: 25px;
}
#side{
    padding-left: 4px;
}
.pic img{
    width: 80%;

}
 /* footer */

 footer{
    margin-top: 40px;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
 }
 
 .goal{
    text-align: center;
    padding-top: 40px;
 }
 hr{
    border: 1px solid aquamarine;
    width: 80%;
    
 }
.last{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}